In [1]:
#Loading Data

%matplotlib inline
import numpy as np
import pandas as pd

df = pd.read_csv("data_assignment.csv")
df.head()

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
0,37404348,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
1,37404337,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
2,37404356,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,0,30,NaN
3,37404330,Team member - Belrose,Anaconda Group Pty Ltd,2018-10-07T00:00:00.000Z,Gosford & Central Coast,NaN,Retail & Consumer Products,Retail Assistants,Bring it on - do you love the great outdoors a...,NaN,0,30,NaN
4,37404308,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07T00:00:00.000Z,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Sales - Inbound,"We are seeking highly articulate, enthusiastic...",NaN,0,30,NaN

In [2]:
#How many records are there in the dataset?
#Command returns the number of rows in the DataFrame

len(df)

149999

In [8]:
#Sorting values by date and showing the first 3 entries
df.sort_values(['Date']).head(3)

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
22645,37362027,Principal SharePoint Consultant,PBI Search,2018-10-01T00:00:00.000Z,Sydney,"CBD, Inner West & Eastern Suburbs",Information & Communication Technology,Consultants,"Work as Principal Consultant, leading and deli...",<div>This award-winning Consultancy and MS Gol...,150,200,Full Time
22746,37360134,Application Developer - IBM IIB,Compas Pty Ltd,2018-10-01T00:00:00.000Z,ACT,NaN,Information & Communication Technology,Developers/Programmers,Compas is seeking an experienced Application D...,Are you an <strong>Application Developer </str...,150,200,Contract/Temp
22747,37360123,Technical Consultant - Mainframe and ITSM,Sharp & Carter Digital and Technology,2018-10-01T00:00:00.000Z,Melbourne,NaN,Information & Communication Technology,Computer Operators,We are looking for several contractors for a 6...,<br>Technical Consultant &nbsp;- Mainframe &am...,150,200,Contract/Temp

In [9]:
#Sorting values by date and showing the last 3 entries
df.sort_values(['Date']).tail(3)

#First entry on 01/10/2018 and last on 13/11/2018

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
149348,37710158,Physiotherapist - Private Practice,Ivory Group,2018-11-13T00:00:00.000Z,Sydney,North West & Hills District,Healthcare & Medical,"Physiotherapy, OT & Rehabilitation",Join an established private practice in Sydney...,"<p style=""text-align:justify;""><strong>ABOUT T...",0,30,Full Time
149350,37710156,Big Data Analytics Engineer (Data Science Team),TRS - IT & Communications,2018-11-13T00:00:00.000Z,Sydney,"CBD, Inner West & Eastern Suburbs",Information & Communication Technology,Consultants,Huge Data Sets require a Data Scientist to per...,Our customer has access (hosts) some of the la...,0,30,Full Time
149998,37709311,Network Engineer,Robert Half Technology,2018-11-13T00:00:00.000Z,Perth,"CBD, Inner & Western Suburbs",Information & Communication Technology,Engineering - Network,Our client requires an experienced Network Eng...,<ul>\n <li><strong>Permanent Position...,0,30,Full Time

In [10]:
#Command returns the number of unique entries on the Date columns
df['Date'].nunique()

44

In [11]:
#Command returns the number of unique entries on the Location columns
df['Location'].nunique()

65